
{% extends "base.html" %}
{% load app_filters %}
{% block title %}Upload CSV File{% endblock %}
{% block sidebar_admin_import %}active{% endblock %}
{% block body_header %}
    Upload CSV File
    <br>
    <a class="btn btn-success btn-sm" href="/admin/export/" role="button">Export Information</a>
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#info-modal">What's the format</button>
{% endblock %}
{% block body %}
    <div class="col-sm-6">
        <p class="lead">Choose a .csv file and click '{{ form_button }}' when finished.</p>
        <p class="lead">If you are unsure of the format, click 'What's the format' to know the format.</p>
        {% include "singleform.html" %}
    </div>
    <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="info-modal-title">This an example of a csv file</h3>
                </div>
                <div id="info-modal-body" class="modal-body">
                    Format for uploading users:
                    <br>
                    Firstname, Lastname, Role, Username
                    <br>
                    <br>
                    Format for uploading hospitals:
                    <br>
                    Name, Address, City, State, Zip, Phone, (Format for uploading hospitals)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Return</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}