<div class="modal fade" id="restore-modal" tabindex="-1" role="dialog" aria-labelledby="restore-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="restore-modal-title">Restore user confirmation</h3>
            </div>
            <div id="restore-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <form id="restore-modal-action" action="{% url 'server:admin/restore_users' %}" method="post">{% csrf_token %}
                    <input id="restore-modal-hidden" type="hidden" name="pk" value="">
                    <input id="restore-modal-submit" class="btn btn-danger btn-block" type="submit" name="restore" value="Restore the user"/>
                </form>
                <br>
                <button id="restore-modal-return" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Return</button>
            </div>
        </div>
    </div>
</div>