{% extends "base.html" %}
{% load app_filters %}
{% block title %}Manage Users{% endblock %}
{% block sidebar_admin_users %}active{% endblock %}
{% block body_header %}
    Manage Registered VirtualClinic Users
    <br>
    <a class="btn btn-success btn-sm" href="/admin/createemployee/" role="button">Add Employee</a>
    <a class="btn btn-info btn-sm" href="/admin/archived_users/" role="button">View Archived Users</a>
{% endblock %}
{% block body %}
    <table id="datatable" class="table table-hover table-striped table-bordered">
        <thead>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Role</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for account in query %}
                <tr>
                    {% comment %}{% if user.username != account.user.username %}{% endcomment %}
                        <td>{{ account.user.username }}</td>
                        <td>{{ account.profile.firstname }}</td>
                        <td>{{ account.profile.lastname }}</td>
                        <td data-value="{{ account.role }}">
                            <form action="./" method="post" class="form-inline">{% csrf_token %}
                                <input type="hidden" name="pk" value="{{ account.pk }}">
                                <select class="form-control" name="role">
                                    <option value="10" {% if account.role == 10 %}selected="selected"{% endif %}>Patient</option>
                                    <option value="20" {% if account.role == 20 %}selected="selected"{% endif %}>Doctor</option>
                                    <option value="30" {% if account.role == 30 %}selected="selected"{% endif %}>Admin</option>
                                    <option value="40" {% if account.role == 40 %}selected="selected"{% endif %}>Lab</option>
                                    <option value="50" {% if account.role == 50 %}selected="selected"{% endif %}>Chemist</option>
                                </select>
                                <input class="btn btn-primary" type="submit" value="Save"/>
                            </form>
                        </td>
                                <script type="text/javascript">
                                                function proxy{{ account.pk }}() {
                                                    configureModal(
                                                            {{ account.pk }},
                                                            '{{ account.user.username }}',
                                                            '{{ account.role }}'
                                                        )
                                                };
                                            </script>
                        <td><button onclick="proxy{{ account.pk }}()" type="button" class="btn btn-danger" data-toggle="modal" data-target="#archive-modal">Archive</button></td>
                    {% comment %}{% endif %}{% endcomment %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "virtualclinic/admin/user_modal.html" %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable();
        });

        function configureModal(pk, username, role) {
            if(role == 10) {
                document.getElementById('archive-modal-body').innerHTML = 'Are you sure you want to archive the patient '.concat(username, '?');
                document.getElementById('archive-modal-hidden').value = pk;
            }
            else if(role == 20) {
                document.getElementById('archive-modal-body').innerHTML = 'Are you sure you want to archive the doctor '.concat(username, '?');
                document.getElementById('archive-modal-hidden').value = pk;
            }
            else if(role == 30) {
                document.getElementById('archive-modal-body').innerHTML = 'Are you sure you want to archive the admin '.concat(username, '?');
                document.getElementById('archive-modal-hidden').value = pk;
            }
            else if(role == 40) {
                document.getElementById('archive-modal-body').innerHTML = 'Are you sure you want to archive the lab '.concat(username, '?');
                document.getElementById('archive-modal-hidden').value = pk;
            }
            else if(role == 50) {
                document.getElementById('archive-modal-body').innerHTML = 'Are you sure you want to archive the chemist '.concat(username, '?');
                document.getElementById('archive-modal-hidden').value = pk;
            }
        }
    </script>
{% endblock %}