colorama==0.4.6
dj-database-url==2.1.0
Django==4.2.11
djangorestframework==3.15.0
gunicorn==21.2.0
html5lib==1.1
httplib2==0.22.0
mysqlclient==2.2.4
Pillow==10.2.0
PyPDF2==3.0.1
pytz==2024.1
reportlab==4.0.9
six==1.16.0
webencodings==0.5.1
xhtml2pdf==0.2.15
whitenoise==6.6.0
