cairocffi==0.8.0
CairoSVG==2.1.3
cffi==1.11.5
cssselect2==0.2.1
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.0.3
django-easy-pdf==0.1.1
google-api-python-client==1.6.5
html5lib==1.0b10
httplib2==0.11.1
mysqlclient==1.3.12
oauth2client==4.1.2
pdfrw==0.4
Pillow==5.0.0
pipenv==11.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyPDF2==1.26.0
Pyphen==0.9.4
pytz==2018.3
reportlab==3.4.0
rsa==3.4.2
six==1.11.0
tinycss2==0.6.1
uritemplate==3.0.0
virtualenv==15.1.0
virtualenv-clone==0.3.0
WeasyPrint==0.42.2
webencodings==0.5.1
whitenoise==3.3.1
xhtml2pdf==0.2.1
