{% extends "base.html" %}
{% load app_filters %}
{% block title %}Deleted Users{% endblock %}
{% block sidebar_admin_users %}active{% endblock %}
{% block body_header %}
    View Archived Users
    <br>
    <a class="btn btn-success btn-sm" href="/admin/createemployee/" role="button">Add Employee</a>
    <a class="btn btn-info btn-sm" href="/admin/users/" role="button">View Current Users</a>
{% endblock %}
{% block body %}
    <table id="datatable" class="table table-hover table-striped table-bordered">
        <thead>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Role</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for account in query %}
                <tr>
                    {% comment %}{% if user.username != account.user.username %}{% endcomment %}
                        <td>{{ account.user.username }}</td>
                        <td>{{ account.profile.firstname }}</td>
                        <td>{{ account.profile.lastname }}</td>
                        {% if account.role == 10 %}<td>Patient</td>{% endif %}
                        {% if account.role == 20 %}<td>Doctor</td>{% endif %}
                        {% if account.role == 30 %}<td>Admin</td>{% endif %}
                        {% if account.role == 40 %}<td>Lab</td>{% endif %}
                        {% if account.role == 50 %}<td>Chemist</td>{% endif %}
                                <script type="text/javascript">
                                                function proxy{{ account.pk }}() {
                                                    configureModal(
                                                            {{ account.pk }},
                                                            '{{ account.user.username }}',
                                                            '{{ account.role }}'
                                                        )
                                                };
                                            </script>
                        <td><button onclick="proxy{{ account.pk }}()" type="button" class="btn btn-danger" data-toggle="modal" data-target="#restore-modal">Restore</button></td>
                    {% comment %}{% endif %}{% endcomment %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "virtualclinic/admin/restore_user_modal.html" %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable();
        });

        function configureModal(pk, username, role) {
            if(role == 10) {
                document.getElementById('restore-modal-body').innerHTML = 'Are you sure you want to restore the patient '.concat(username, '?');
                document.getElementById('restore-modal-hidden').value = pk;
            }
            else if(role == 20) {
                document.getElementById('restore-modal-body').innerHTML = 'Are you sure you want to restore the doctor '.concat(username, '?');
                document.getElementById('restore-modal-hidden').value = pk;
            }
            else if(role == 30) {
                document.getElementById('restore-modal-body').innerHTML = 'Are you sure you want to restore the admin '.concat(username, '?');
                document.getElementById('restore-modal-hidden').value = pk;
            }
            else if(role == 40) {
                document.getElementById('restore-modal-body').innerHTML = 'Are you sure you want to restore the lab '.concat(username, '?');
                document.getElementById('restore-modal-hidden').value = pk;
            }
            else if(role == 50) {
                document.getElementById('restore-modal-body').innerHTML = 'Are you sure you want to restore the chemist '.concat(username, '?');
                document.getElementById('restore-modal-hidden').value = pk;
            }
        }
    </script>
{% endblock %}